#experience-section {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

#experience-section h1 {
  color: black;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.timeline-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-bottom: 40px;
}

.timeline-item:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #00C853; /* Timeline line color */
  left: 50%;
  transform: translateX(-50%);
}

.timeline-content {
  background-color: #ffffff;
  color:black; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  max-width: 600px;
}

.timeline-item:nth-child(even) .timeline-content {
  margin-left: auto;
}

.timeline-item:nth-child(odd) .timeline-content {
  margin-right: auto;
}

.experience-date {
  font-style: italic;
  color: #666;
}

.experience-description {
  line-height: 1.6;
}
