/* Homepage.css */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Ensure shooting stars don't create horizontal scrollbars */
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.landing-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Dark overlay */
  z-index: 1;
}

.landing-content {
  font-family: "Source Code Pro";
  display: flex;
  flex-direction: row; /* Ensure content aligns horizontally */
  align-items: center;
  justify-content: space-between; /* Space between landing-text and landing-svg */
  width: 80%;
  max-width: 1200px; /* Adjust max width as needed */
  padding: 0 20px; /* Adjust padding as needed */
  z-index: 2;
}

.landing-text {
  flex: 1; /* Take up remaining space */
  max-width: 600px;
}

.hello-text {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.greeting-text {
  font-size: 3rem;
  font-weight: bold;
  position: relative; /* Ensure cursor position */
}

.blinking-cursor {
  animation: blink-caret 0.75s step-end infinite; /* Adjust blinking speed and style */
}

.blinking-cursor.visible {
  opacity: 1;
}

.blinking-cursor.hidden {
  opacity: 0;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white; /* Adjust cursor color */
  }
}

.subheading-text {
  font-size: 1.5rem;
  margin-top: 10px;
}

.contact-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00C853;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

.landing-svg {
  flex: 1; /* Take up remaining space */
  display: flex;
  justify-content: flex-end; /* Align image to the right */
  align-items: center;
}

.landing-svg img {
  width: 300px;  /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
}

/* Ensure the entire page can scroll */
body, html {
  height: 100%;
}

#home-section {
  min-height: 100vh;
}
