/* Homepage.css */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Ensure no horizontal scrollbars */
  font-family: 'Arial', sans-serif;
  background-color: #121212; /* Dark background color */
  color: #E0E0E0; /* Softer white text color */
}

.landing-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  height: 100vh;
}


.landing-content {
  font-family: "Source Code Pro", monospace;
  display: flex;
  flex-direction: row; /* Ensure content aligns horizontally */
  align-items: center;
  justify-content: space-between; /* Space between landing-text and landing-svg */
  width: 80%;
  max-width: 1200px; /* Adjust max width as needed */
  padding: 0 20px; /* Adjust padding as needed */
  z-index: 2;
}

.landing-text {
  flex: 1; /* Take up remaining space */
  max-width: 600px;
}

.hello-text {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.greeting-text {
  font-size: 3rem;
  font-weight: bold;
  position: relative; /* Ensure cursor position */
  color: #ffffff; /* Pure white for greeting text */
}

.blinking-cursor {
  animation: blink-caret 0.75s step-end infinite; /* Adjust blinking speed and style */
}

.blinking-cursor.visible {
  opacity: 1;
}

.blinking-cursor.hidden {
  opacity: 0;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white; /* Adjust cursor color */
  }
}

.subheading-text {
  font-size: 1.5rem;
  margin-top: 10px;
}

.availability {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.availability-text {
  margin-left: 10px;
  font-size: 1rem;
  color: #ffffff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #00E676; /* Accent color when checked */
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.landing-svg {
  flex: 1; /* Take up remaining space */
  display: flex;
  justify-content: flex-end; /* Align image to the right */
  align-items: center;
}

.landing-svg img {
  width: 300px;  /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
}

/* Ensure the entire page can scroll */
body, html {
  height: 100%;
}

#home-section {
  min-height: 100vh;
}
