#portfolio-section {
  background-color: #f9f9f9;
  color:black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

#portfolio-section h1 {
  color: #333;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.project-item {
  color:black;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.project-item:hover {
  transform: translateY(-5px);
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-header h3 {
  margin: 0;
}

.github-link {
  text-decoration: none;
  color: #007bff;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.github-link:hover {
  background-color: #007bff;
  color: #fff;
}

.project-description {
  line-height: 1.6;
}

.tech-stack {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
}

.tech-tag {
  background-color: #f0f0f0;
  color: #333;
  font-size: 0.9rem;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 8px;
  margin-bottom: 8px;
}
