.navBar {
  display: flex;
  justify-content: space-between; /* Align items to the ends */
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  height: 70px;
  min-height: 70px;
  background-color: white;
  padding: 0 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.11);
  color: black; /* Ensure text color is white */
}

.navLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navLinks li {
  margin: 0 10px;
}

.navLinks li a {
  color: black;
  text-decoration: none;
}

.navLinks li a:hover {
  color: yellow;
  cursor: pointer;
}

.left-section {
  margin-left: 10px; /* Adjust as needed */
}

.left-section a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.left-section a:hover {
  color: yellow;
  cursor: pointer;
}
